In [3]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [6]:
lg = pd.read_csv(r'C:\Users\USER\Desktop\ml practice\Logistic_Regression_Binary_Classsification_Churn_Data.csv')

In [7]:
lg.head()

,customerID,tenure,PhoneService,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,1,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,34,Yes,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,2,Yes,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,45,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,2,Yes,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [8]:
lg.shape

(7043, 9)

In [33]:
result = pd.concat([lg.tenure, lg.MonthlyCharges,lg.TotalCharges], axis=1)

In [35]:
result.head()

   tenure  MonthlyCharges TotalCharges
0       1           29.85        29.85
1      34           56.95       1889.5
2       2           53.85       108.15
3      45           42.30      1840.75
4       2           70.70       151.65

In [36]:
result.shape

(7043, 3)

In [54]:
x=result.iloc[:,:-1].values
y=result.iloc[:,:-2].values

In [68]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size=.2 )

In [69]:
model = LogisticRegression()

In [73]:
model.fit(x_train, y_train)

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\utils\validation.py:578: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [74]:
predictions = model.predict(x_test)

In [77]:
model.score(x_test, y_test)

0.19020581973030518

In [76]:
model.predict(x_test)

array([56, 72,  1, ..., 22, 72, 72], dtype=int64)

In [ ]:
# this model is really not good still have to work on it